# Ignore dataset and reference folders
data/
references/

# Optional: Ignore notebook checkpoints and Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
