# Ignore dataset and reference folders
/data/
!mitbih/data/
references/
venv/
venv_test/
.env/
results/**/*.npz
!results/temp/demo_beats.npz
dockerfile

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Optional: Ignore notebook checkpoints and Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
